background
{
    background-size: cover;
}
.play_button
{
    width:160px;
    font-size: 25px;
} 
.heading
{
    font-size: 23px;
    width: 100%;
    margin:0px;
}
canvas
{
border-radius: 75px;
border: 3px solid white;
color: white;
}
.note
{
    font-size:15px;
    color:black;
}