.heading
{
    font-size: 23px;
    width: 100%;
    margin:0px;
}
background
{
    background-size: cover;
}
#note
{
    font-size:15px;
    color:black;
}
.div_name
{
    float: center;
}

#speed
{
    font-size: 23px;
    margin: 15px;
}
canvas{
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px yellow;
    
    }
    .play_button
    {
        margin-left: 50px;
        width:120px;
        font-size:23px;
        float:left;
    }
    .stop_button
    {
        margin-right: 50px;
        width:120px;
        font-size:23px;
        float:right;
    }